/********RAHUL RAY:ID-1377********/

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

a {
	text-decoration: none
}

a:hover,
a:focus {
	text-decoration: none
}
/*******navbar************/

.navbar-default {
	background-color: #336699;
	border: none;
}

.nav>li>a {
	font-family: myriad pro;
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
	color: #fff;
}

.navbar-default .navbar-nav >li>.active,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #555;
}

.navbar-brand>img:hover {
	opacity: 0.8
}
/********background_image_text************/

.background_image {
	background: url("bg.jpg") no-repeat scroll;
	background-size: 100% 100%;
	margin-top: 0;
	height: 788px;
}

.main_bg>p {
	color: aliceblue;
	font-size: 30px;
	line-height: 55px;
	margin-top: 140px;
}

.main_bg > h1 {
	color: antiquewhite;
	font-size: 50px;
	font-weight: 800;
	letter-spacing: 11px;
	text-transform: uppercase;
}

.main_bg> span {
	color: #ccffff;
	display: block;
	font-size: 24px;
	line-height: 59px;
	margin-top: -2%;
}

.main_bg >.know_more> a {
	background: #cfc91d none repeat scroll 0 0;
	color: #0b1016;
	font-size: 20px;
	font-weight: bold;
	line-height: 80px;
	padding: 16px 43px;
	text-transform: uppercase;
	-webkit-transition: all .5s ease;
	transition: all 1s ease;
	border-radius: 3px;
}

.main_bg >.know_more> a:hover {
	background: #02918C;
	color: #fff;
	text-decoration: none;
	box-shadow: inset 0 0 0 5px #3071A9;
}
/**********about me area**************/

.my_profile_details_area {
	padding-bottom: 50px;
}

.about_me {}

.about_me>.h1 {
	font-size: 46px;
	color: #336699;
	font-weight: 800;
}

.about_me>.h3 {
	color: #336699;
	margin-bottom: 30px;
}

.about_me_details {}

.about_me_details>p {
	color: #336699;
	font-size: 16px;
	margin-bottom: 65px;
	font-weight: 600;
}

.skill {}

.skill>i {
	color: #555;
	font-size: 40px;
}

.skill>h3 {
	font-size: 17px;
	font-weight: 800;
	color: #336699;
}

.skill>p {
	font-size: 13px;
	font-weight: 600;
}
/************skill area**************/

section.bg_color {
	background: #F0F0E8;
	min-height: 420px;
}

.skill_bar_area {
	margin-top: 56px;
}

.skill_bar_area>.h1 {
	font-size: 46px;
	color: #336699;
	font-weight: 800;
}

.skillbar {
	position: relative;
	display: block;
	margin-bottom: 36px;
	width: 100%;
	background: #a3a39e;
	height: 35px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-transition: 0.4s linear;
	transition: 0.4s linear;
	-webkit-transition-property: width, background-color;
	transition-property: width, background-color;
}

.skillbar-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 110px;
	font-weight: bold;
	font-size: 13px;
	color: #ffffff;
	background: #6adcfa;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.skillbar-title span {
	display: block;
	background: rgba(0, 0, 0, 0.1);
	padding: 0 20px;
	height: 35px;
	line-height: 35px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-bottomleft: 3px;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.skillbar-bar {
	height: 35px;
	width: 0px;
	background: #6adcfa;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.skill-bar-percent {
	position: absolute;
	right: 10px;
	top: 0;
	font-size: 11px;
	height: 35px;
	line-height: 35px;
	color: #ffffff;
	color: rgba(0, 0, 0, 0.4);
}

.skill_image_area {}

.skill_image_area>img {
	height: 310px;
	margin-top: 56px;
	opacity: 0.6;
	width: 100%;
}
/**************work area****************/

.work {
	padding-top: 80px;
	padding-bottom: 0px;
}

.work-header {
	margin: 0 0 60px;
	text-align: center;
}

.work-line {
	background: rgba(135, 135, 135, 0.5) none repeat scroll 0 0;
	height: 1px;
	margin: 30px auto;
	width: 100px;
}

.work-title {
	font-size: 46px;
	color: #336699;
	font-weight: 800;
}

.work-subtitle {
	font-size: 17px;
	font-weight: 800;
	color: #336699;
}

.port>img {
	width: 100%;
	height: 206px;
	opacity: 0.8;
}

.mrg_top {
	margin-top: 27px;
}

.mrg2_top>img {
	margin-top: 27px;
}
/********image hover effect************/
/*******part one(effect)************/

.view {
	margin: 10px;
	float: left;
	border: 10px solid #fff;
	overflow: hidden;
	position: relative;
	text-align: center;
	box-shadow: 1px 1px 2px #e6e6e6;
	cursor: default;
	background: #fff url(../images/bgimg.jpg) no-repeat center center;
}

.view .mask,
.view .content {
	height: 206px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}

.view img {
	height: 206px;
	display: block;
	position: relative;
}

.view h2 {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 17px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.8);
	margin: 20px 0 0 0;
}

.view p {
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 12px;
	position: relative;
	color: #fff;
	padding: 10px 20px 20px;
	text-align: center;
}

.view a.info {
	display: inline-block;
	text-decoration: none;
	padding: 7px 14px;
	background: #000;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 0 1px #000;
}

.view a.info: hover {
	box-shadow: 0 0 5px #000;
}
/***********part two(hover effect)***********/

.view-seventh img {
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.view-seventh .mask {
	background-color: rgba(77, 44, 35, 0.5);
	-webkit-transform: rotate(0deg) scale(1);
	-ms-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.view-seventh h2 {
	-webkit-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.view-seventh p {
	-webkit-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.view-seventh a.info {
	-webkit-transform: translateY(-200px);
	-ms-transform: translateY(-200px);
	transform: translateY(-200px);
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.view-seventh:hover img {
	-webkit-transform: rotate(720deg) scale(0);
	-ms-transform: rotate(720deg) scale(0);
	transform: rotate(720deg) scale(0);
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	height: 206px;
}

.view-seventh:hover .mask {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transform: translateY(0px) rotate(0deg);
	-ms-transform: translateY(0px) rotate(0deg);
	transform: translateY(0px) rotate(0deg);
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.view-seventh:hover h2 {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
}

.view-seventh:hover p {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.view-seventh:hover a.info {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
/***********contact area**************/

.contact_area_top {
	padding: 50px 0;
}

.contact_area_top > h1 {
	color: #336699;
	font-size: 46px;
	font-weight: 800;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.contact_area_top > p {
	color: #555;
	font-size: 17px;
	font-weight: 600;
}
/****contact form***/

.contact_area {
	background: #0b0b0b none repeat scroll 0 0;
	padding: 60px 0;
}

.contact_form_area {}

.contact_form_area > form {}

.contact_name_area {}

.contact_name_area > label {
	display: block;
}

.contact_name_area > input {
	border: 0;
	border-top: 2px solid gray;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	background-color: dimgrey;
	margin-bottom: 25px;
	width: 48%;
}

.contact_email {}

.contact_email > label {
	display: block;
}

.contact_email > input {
	border: 0;
	border-top: 2px solid gray;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	background-color: dimgrey;
	margin-bottom: 25px;
	width: 48%;
}

.contact_emailtext_area {}

.contact_emailtext_area > label {
	display: block;
}

.contact_emailtext_area > textarea {
	border: 0;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	background-color: dimgrey;
	margin-bottom: 50px;
	width: 73%;
}

.send_button {}

.send_button > a {
	background: #cfc91d none repeat scroll 0 0;
	border-radius: 3px;
	color: #000000;
	font-size: 17px;
	font-weight: bold;
	padding: 13px 45px;
	text-transform: uppercase;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.send_button > a:hover {
	background: #02918C;
	color: #fff;
}

::-webkit-input-placeholder {}

::-moz-placeholder {
	/* Firefox 19+ */
}
/***********social area***********/

.social_area {
	background: #FF5050;
}

.pad_left {
	padding-right: 0px;
}

.social {}

.social ul {
	margin: 0;
	padding: 5px;
}

.social ul li {
	margin: 5px;
	list-style: none outside none;
	display: inline-block;
}

.social i {
	width: 40px;
	height: 40px;
	color: #FFF;
	background-color: #0C0909;
	font-size: 22px;
	text-align: center;
	padding-top: 12px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-o-border-radius: 50%;
	transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
}

.social i:hover {
	color: #FFF;
	text-decoration: none;
	transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-webkit-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
	background: #4060A5;
}

.social .fa-twitter:hover {
	background: #00ABE3;
}

.social .fa-google-plus:hover {
	background: #e64522;
}

.social .fa-github:hover {
	background: #343434;
}

.social .fa-pinterest:hover {
	background: #cb2027;
}

.social .fa-linkedin:hover {
	background: #0094BC;
}

.social .fa-flickr:hover {
	background: #FF57AE;
}

.social .fa-instagram:hover {
	background: #375989;
}

.social .fa-vimeo-square:hover {
	background: #83DAEB;
}

.social .fa-stack-overflow:hover {
	background: #FEA501;
}

.social .fa-dropbox:hover {
	background: #017FE5;
}

.social .fa-tumblr:hover {
	background: #3a5876;
}

.social .fa-dribbble:hover {
	background: #F46899;
}

.social .fa-skype:hover {
	background: #00C6FF;
}

.social .fa-stack-exchange:hover {
	background: #4D86C9;
}

.social .fa-youtube:hover {
	background: #FF1F25;
}

.social .fa-xing:hover {
	background: #005C5E;
}

.social .fa-rss:hover {
	background: #e88845;
}

.social .fa-foursquare:hover {
	background: #09B9E0;
}

.social .fa-youtube-play:hover {
	background: #DF192A;
}
/***********owl carousel area*************/

.owl_carousel {
	background: url(bacground.jpg);
}

#owl-demo .item {
	margin-top: 36px;
}

#owl-demo .item img {
	display: block;
	width: 330px;
	height: 190px;
}
/***********footer area*************/

.footer_area {
	background: #000000 none repeat scroll 0 0;
	padding-bottom: 10px;
	padding-top: 25px;
}

.footer_text > p > a {
	color: #fff;
	font-weight: bold;
}

.footer_text > p > a:hover {
	color: #02918C;
	font-weight: bold;
}

.footer_text > p {
	color: #fff;
	font-weight: bold;
}

.footer {}
/********back to top area**********/

.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	position: fixed;
	bottom: 30px;
	right: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	/* image replacement properties */
	
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background: rgba(232, 98, 86, 0.8) url("cd-top-arrow.svg") no-repeat center 50%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
	-webkit-transition: opacity .3s 0s, visibility 0s 0s;
	transition: opacity .3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
	/* the button becomes visible */
	
	visibility: visible;
	opacity: 1;
}

.cd-top.cd-fade-out {
	/* if the user keeps scrolling down, the button is out of focus and becomes less visible */
	
	opacity: .5;
}

.no-touch .cd-top:hover {
	background-color: #e86256;
	opacity: 1;
}

@media only screen and (min-width: 768px) {
	.cd-top {
		right: 20px;
		bottom: 20px;
	}
}

@media only screen and (min-width: 1024px) {
	.cd-top {
		height: 60px;
		width: 60px;
		right: 30px;
		bottom: 30px;
	}
}
/*****animate**********/

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
}

.animated.hinge {
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
}
/**fadein**/

@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInLeftBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-2000px);
		-ms-transform: translateX(-2000px);
		transform: translateX(-2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.fadeInLeftBig {
	-webkit-animation-name: fadeInLeftBig;
	animation-name: fadeInLeftBig;
}

@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

@-webkit-keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		transform: translateX(2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes fadeInRightBig {
	0% {
		opacity: 0;
		-webkit-transform: translateX(2000px);
		-ms-transform: translateX(2000px);
		transform: translateX(2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
	}
}

.fadeInRightBig {
	-webkit-animation-name: fadeInRightBig;
	animation-name: fadeInRightBig;
}

@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		transform: translateY(2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInUpBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(2000px);
		-ms-transform: translateY(2000px);
		transform: translateY(2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

.fadeInUpBig {
	-webkit-animation-name: fadeInUpBig;
	animation-name: fadeInUpBig;
}

@-webkit-keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-20px);
		-ms-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes fadeInDownBig {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		-ms-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
}

.fadeInDownBig {
	-webkit-animation-name: fadeInDownBig;
	animation-name: fadeInDownBig;
}
 /********************map area**************/
 .js-map {
  height: 100%;
  min-height: 35em;
  margin: 0;
  padding: 0;
}

@media (max-width: 58em) {

.js-map::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: transparent;
}
}

.js-map .gm-style-iw > div {
  font-size: 1.2em;
  overflow: hidden;
  height: auto;
  line-height: 1.6;
}

.js-map .gmnoscreen,
 .js-map .gm-style-cc { display: none !important; }
/***********horizontal line style******/

hr.style-eight {
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
}

hr.style-eight:after {
	content: "ยง";
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 1.5em;
	padding: 0 0.25em;
	background: white;
}
/********RAHUL RAY:ID-1377********/
